.quote{
    width: 600px;
}
.motivation{
    display: flex;
    justify-content: start;
    padding-top: 100px;
    padding-left:165px ;
    align-items: center;
    height: 300px;;
}
.motivation-content{
    display: flex;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 1024px){
    .quote{
        width: 450px;
        font-size: 12px;
    }
    .motivation{
        height: 200px;
      padding-left: 30px;
    }

}
@media screen and (max-width: 600px){
    .quote{
        width: 200px;
        font-size: 10px;
    }
    .motivation{
    height: 100px;
      padding-left: 20px;
      padding-top: 50px;
    }
    
}