.quote{
    width: 600px;
}
.motivation{
    display: flex;
    justify-content: start;
    padding-top: 100px;
    padding-left:165px ;
    align-items: center;
    height: 300px;;
}
.motivation-content{
    display: flex;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 1180px){
    .quote{
        width: 450px;
        font-size: 16px;
    }
    .motivation{
      padding-left: 100px;
    }

}
@media screen and (max-width: 600px){
    .quote{
        width: 300px;
        font-size: 12px;
    }
    .motivation{
      padding-left: 50px;
      padding-top: 0%;
    }
    
}